@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground: #282C34;
  --background: #FAFAFA;
  --scroll-bar: #FAFAFA;
  --operative-color: #808080;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground: #282C34;
    --background: #FAFAFA;
    --scroll-bar: #FAFAFA;
    --operative-color: #808080;
  }
}

body {
  color: var(--foreground);
  background: var(--background)
}

.scrollable-theme::-webkit-scrollbar {
  width: 5px;
}

.scrollable-theme::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 10px 10px 8px var(--scroll-bar);
}

.scrollable-theme::-webkit-scrollbar-thumb {
  background-color: var(--operative-color);
}

.rd3t-node > circle {
  fill: var(--foreground);
}

.rd3t-leaf-node > circle {
  fill: var(--foreground);
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}